@use '../styles/variables';
@use '../styles/mixins';

.card {
	background-color: white;
	border: 1px solid #dadada;
	border-radius: .5rem;
	margin: .25rem;
	&__body {
		padding: 1rem;
		@include mixins.breakpoint(sm) {
			padding: 1.25rem;
		}
	
		@include mixins.breakpoint(md) {
			padding: 1.5rem;
		}
	}
	&__image {
		border-top-left-radius: .5rem;
		border-top-right-radius: .5rem;
		overflow: hidden;
	}
}
