@use '../styles/variables';
@use '../styles/mixins';

.card {
	background-color: white;
	border: 1px solid #dadada;
	border-radius: .5rem;
	padding: 1rem;
	//border-bottom: .5rem solid variables.$color__orange;
	cursor: pointer;
	@include mixins.breakpoint(sm) {
		padding: 1.25rem;
	}

	@include mixins.breakpoint(md) {
		padding: 1.5rem;
	}
}
