@use '../styles/variables';
@use '../styles/mixins';

.mySwiper {
	//background-color: red;
	margin-left: -2rem;
	margin-right: -2rem;
	padding: 0 .5rem 3rem 2rem;
}
.bulletActive {
	background-color: variables.$color__blue;
	opacity: 1;
}
