@use '../styles/mixins';
@use '../styles/variables';

.header {
	width: 100%;
	background-color: variables.$color__orange_10;
	padding: 1rem;
	display: none;
	@include mixins.breakpoint(md) {
		padding: 6rem 2rem 2rem 2rem;
		width: 18rem;
		display: block;
	}
	h1 {
		font-family: variables.$font__sherman_sans;
		font-weight: 700;
		line-height: 1;
    	color: variables.$color__orange;
		font-size: 2rem;
		text-transform: uppercase;
		margin-bottom: 2rem;
		span {
			color: variables.$color__blue;
		}
	}
	
}
.mobileHeader {
	background-color: variables.$color__blue;
	color: white;
	width: 100%;
	padding: 1rem;
	border-bottom: 1px solid rgba(255,255,255,.25);
	display: flex;
	align-items: center;
	gap: 1rem;
	h1 {
		font-family: variables.$font__sherman_sans;
		font-weight: 700;
		line-height: 1.1;
    	color: variables.$color__orange;
		font-size: 1.2rem;
		text-transform: uppercase;
		span {
			color: white;
		}
		a {
			color: variables.$color__orange;
			text-decoration: none;
			span {
				color: white;
			}
		}
	}
	@include mixins.breakpoint(md) {
		display: none;
	}

}
