@use '../styles/mixins';
@use '../styles/variables';

.header {
	width: 100%;
	background-color: variables.$color__orange_10;
	padding: 1rem;
	@include mixins.breakpoint(md) {
		padding: 6rem 2rem 2rem 2rem;
		width: 18rem;
	}
	h1 {
		font-family: variables.$font__sherman_sans;
		font-weight: 700;
		line-height: 1;
    	color: variables.$color__orange;
		font-size: 2rem;
		text-transform: uppercase;
		margin-bottom: 2rem;
		span {
			color: variables.$color__blue;
		}
	}
	
}

