@use '../styles/variables';
@use '../styles/mixins';

.nav {
	//background-color: limegreen;
	margin-top: 2rem;
	ul {
		li {
			a {
				font-family: variables.$font__sherman_sans;
				color: variables.$color__blue;
				font-size: 1.2rem;
				font-weight: 700;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				display: block;
				text-decoration: none;
				&.active {
					color: variables.$color__orange__medium;
				}
				&:hover, &:focus {
					color: variables.$color__orange__medium;
				}
			}
		}
	}
}

.socialnav {
	padding-top: 1rem;
	margin-top: 1rem;
	border-top: 1px solid #fff;
	a {
		font-size: 1rem;
		display: block;
		padding: .5rem 0;
		font-family: variables.$font__sherman_sans;
		text-decoration: none;
		color: white;
		text-align: center;
		&:hover,
		&:focus {
			color: variables.$color__orange;
		}
	}
	@include mixins.breakpoint(laptop) {
		border-top: 1px solid variables.$color__blue;
		a {
			color: variables.$color__blue;
			text-align: left;
		}
	}
	
}
.mobileNav {
	//background-color: limegreen;
	margin-top: 2rem;

	ul {
		li {
			a {
				font-family: variables.$font__sherman_sans;
				color: white;
				font-size: 1.5rem;
				font-weight: 700;
				padding-top: 1rem;
				padding-bottom: 1rem;
				display: block;
				text-decoration: none;
				text-align: center;
				&.active {
					color: variables.$color__orange__medium;
				}

				&:hover,
				&:focus {
					color: variables.$color__orange__medium;
				}
			}
		}
	}
}
