@use '../styles/variables';
@use '../styles/mixins';

.span {
	@include mixins.fontWeight();
	@include mixins.textTransform();
	@include mixins.fontColor();
	@include mixins.fontStyle();
	&.font-size-larger {
		//font-size: 1.1;
	}
	&.font-size-smaller {
		font-size: .8em;
	}
	&.display-block {
		display: block;
	}
	&.display-inline-block {
		display: inline-block;
	}
	&.letter-spacing-normal {
		letter-spacing: 0;
	}
	&.letter-spacing-spaced {
		letter-spacing: 1.5px;
	}
}
